<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key><string>__LABEL__</string>
	<key>ProgramArguments</key>
	<array><string>__ROOT__/scripts/server_daemon.sh</string><string>serve</string></array>
	<key>UserName</key><string>__USER__</string>
	<key>WorkingDirectory</key><string>__ROOT__</string>
	<key>EnvironmentVariables</key>
	<dict>
		<key>GODOT_BIN</key><string>__GODOT__</string>
		<key>CAR_FIGHT_PORT</key><string>__PORT__</string>
	</dict>
	<key>RunAtLoad</key><true/>
	<key>KeepAlive</key><true/>
	<key>StandardOutPath</key><string>__LOG__</string>
	<key>StandardErrorPath</key><string>__LOG__</string>
</dict>
</plist>

